Repository apple/foundationdb, pull requests merged in 2021-05, with the labels that each got.

#4397 Fix inconsistent snapshot possibility
  fdbserver/CoordinatedState.actor.cpp
  fdbserver/CoordinatedState.h
  fdbserver/DataDistribution.actor.cpp
  flow/Arena.h
Labels: backup-restore

#4761 tLog component level test
  fdbserver/CMakeLists.txt
  fdbserver/ptxn/test/RealTLog.actor.cpp
  fdbserver/ptxn/test/RealTLog.actor.h
Labels: partitioned txns

#4613 partitioned-txn: Introduce TLogGroup
  fdbclient/SystemData.cpp
  fdbclient/SystemData.h
  fdbserver/ApplyMetadataMutation.cpp
  fdbserver/CMakeLists.txt
  fdbserver/Knobs.cpp
  fdbserver/Knobs.h
  fdbserver/TLogGroup.actor.cpp
  fdbserver/TLogGroup.actor.h
  fdbserver/masterserver.actor.cpp
  tests/CMakeLists.txt
  tests/SpecificUnitTest.txt
  tests/ptxn/UnitTestTLogGroup.toml
Labels: partitioned txns

#4742 Add ServerTeamPeekCursor for partition-transactions
  fdbclient/FDBTypes.h
  fdbserver/CMakeLists.txt
  fdbserver/ptxn/MessageTypes.cpp
  fdbserver/ptxn/MessageTypes.h
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.cpp
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.h
  fdbserver/ptxn/Serializer.h
  fdbserver/ptxn/TLogInterface.h
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/TLogPeekCursor.h
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.cpp
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.h
  fdbserver/ptxn/test/Driver.actor.cpp
  fdbserver/ptxn/test/Driver.h
  fdbserver/ptxn/test/FakeProxy.actor.cpp
  fdbserver/ptxn/test/FakeProxy.actor.h
  fdbserver/ptxn/test/FakeResolver.actor.h
  fdbserver/ptxn/test/FakeStorageServer.actor.cpp
  fdbserver/ptxn/test/FakeStorageServer.actor.h
  fdbserver/ptxn/test/FakeTLog.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.h
  fdbserver/ptxn/test/TestResolver.actor.cpp
  fdbserver/ptxn/test/TestSerialization.cpp
  flow/Error.h
  flow/IRandom.h
  flow/ProtocolVersion.h
  flow/String.h
  flow/error_definitions.h
  flow/genericactors.actor.h
  tests/ptxn/Driver.toml
  tests/ptxn/Serialization.toml
Labels: partitioned txns

#4804 Fix deserialization performance issue
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.cpp
  fdbserver/ptxn/test/TestSerialization.cpp
Labels: partitioned txns

#4694 Introduce team concept into TLogServer and implement commit
  bindings/c/test/mako/mako.c
  bindings/java/src/main/com/apple/foundationdb/FDB.java
  bindings/java/src/test/com/apple/foundationdb/test/ConcurrentGetSetGet.java
  fdbclient/FDBTypes.h
  fdbrpc/sim2.actor.cpp
  fdbserver/CMakeLists.txt
  fdbserver/ClusterController.actor.cpp
  fdbserver/DiskQueue.actor.cpp
  fdbserver/Knobs.cpp
  fdbserver/Knobs.h
  fdbserver/LogSystemConfig.h
  fdbserver/MasterInterface.h
  fdbserver/OldTLogServer_6_0.actor.cpp
  fdbserver/OldTLogServer_6_2.actor.cpp
  fdbserver/ResolverInterface.h
  fdbserver/TLogServer.actor.cpp
  fdbserver/TagPartitionedLogSystem.actor.cpp
  fdbserver/WorkerInterface.actor.h
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.cpp
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.h
  fdbserver/ptxn/Serializer.h
  fdbserver/ptxn/StorageServerInterface.h
  fdbserver/ptxn/TLogInterface.cpp
  fdbserver/ptxn/TLogInterface.h
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/TLogPeekCursor.h
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.cpp
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.h
  fdbserver/ptxn/TeamVersionTracker.actor.cpp
  fdbserver/ptxn/TeamVersionTracker.h
  fdbserver/ptxn/test/Driver.actor.cpp
  fdbserver/ptxn/test/Driver.h
  fdbserver/ptxn/test/FakeProxy.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.h
  fdbserver/ptxn/test/RealTLog.actor.cpp
  fdbserver/ptxn/test/TestResolver.actor.cpp
  fdbserver/ptxn/test/TestSerialization.cpp
  fdbserver/worker.actor.cpp
  flow/String.h
  flow/error_definitions.h
  tests/CMakeLists.txt
  tests/ptxn/TLogServer.toml
Labels: partitioned txns

#4797 Create a merged cursor for PTXN TLog/StorageServer communication
  fdbbackup/FileConverter.actor.cpp
  fdbbackup/FileDecoder.actor.cpp
  fdbclient/CommitTransaction.h
  fdbclient/FDBTypes.h
  fdbserver/CMakeLists.txt
  fdbserver/ptxn/MessageTypes.h
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.cpp
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.h
  fdbserver/ptxn/StorageServerInterface.h
  fdbserver/ptxn/TLogInterface.h
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/TLogPeekCursor.actor.h
  fdbserver/ptxn/TLogPeekCursor.h
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.cpp
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.h
  fdbserver/ptxn/test/Driver.actor.cpp
  fdbserver/ptxn/test/Driver.h
  fdbserver/ptxn/test/FakeProxy.actor.cpp
  fdbserver/ptxn/test/FakeStorageServer.actor.cpp
  fdbserver/ptxn/test/FakeStorageServer.actor.h
  fdbserver/ptxn/test/FakeTLog.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.h
  fdbserver/ptxn/test/TestResolver.actor.cpp
  fdbserver/ptxn/test/TestSerialization.cpp
  fdbserver/ptxn/test/TestTLogPeek.actor.cpp
  fdbserver/ptxn/test/TestTLogPeek.h
  fdbserver/ptxn/test/Utils.cpp
  fdbserver/ptxn/test/Utils.h
  flow/String.h
  tests/CMakeLists.txt
  tests/ptxn/Driver.toml
  tests/ptxn/TLogPeekCursor.toml
  tests/ptxn/TLogServer.toml
Labels: partitioned txns

#4816 Realtlog fix
  fdbserver/ptxn/test/RealTLog.actor.cpp
Labels: partitioned txns

#4814 Proxy serializes data for storage teams (dual-write path).
  fdbclient/FDBTypes.h
  fdbclient/StorageServerInterface.h
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/ProxyCommitData.actor.h
  fdbserver/ptxn/MessageTypes.h
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.cpp
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.h
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.cpp
  fdbserver/ptxn/test/FakeProxy.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.cpp
  fdbserver/ptxn/test/TestSerialization.cpp
  tests/CMakeLists.txt
  tests/ptxn/CycleTest.toml
Labels: partitioned txns

#4839 Integrate team partitioned TLogServer with fake proxy to test commit
  fdbserver/ptxn/MessageTypes.h
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/test/Driver.actor.cpp
  fdbserver/ptxn/test/Driver.h
  fdbserver/ptxn/test/FakeProxy.actor.cpp
  fdbserver/ptxn/test/FakeProxy.actor.h
  fdbserver/ptxn/test/Utils.cpp
  flow/UnitTest.cpp
  flow/UnitTest.h
  tests/ptxn/TLogServer.toml
Labels: partitioned txns

#4844 Fix tlog commit timeout error
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/test/Driver.actor.cpp
  tests/ptxn/TLogServer.toml
Labels: partitioned txns

#4835 Add peek request handling for tlogs
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/test/Driver.actor.cpp
  fdbserver/ptxn/test/TestTLogPeek.actor.cpp
  fdbserver/ptxn/test/Utils.h
  tests/ptxn/TLogServer.toml
Labels: partitioned txns

#4734 Storage server component level test
  fdbserver/CMakeLists.txt
  fdbserver/MockLogSystem.cpp
  fdbserver/MockLogSystem.h
  fdbserver/MockPeekCursor.cpp
  fdbserver/MockPeekCursor.h
  fdbserver/WorkerInterface.actor.h
  fdbserver/ptxn/test/RealStorageServer.actor.cpp
  fdbserver/storageserver.actor.cpp
  fdbserver/worker.actor.cpp
  tests/CMakeLists.txt
  tests/ptxn/StorageServer.toml
Labels: partitioned txns, testing
