Repository apple/foundationdb, pull requests merged in 2021-04, with the labels that each got.

#4620 Control backup's initial snapshot interval via backup cmd argument.
  documentation/sphinx/source/backups.rst
  fdbbackup/backup.actor.cpp
  fdbclient/BackupAgent.actor.h
  fdbclient/FileBackupAgent.actor.cpp
  fdbserver/workloads/AtomicRestore.actor.cpp
  fdbserver/workloads/BackupAndParallelRestoreCorrectness.actor.cpp
  fdbserver/workloads/BackupCorrectness.actor.cpp
  fdbserver/workloads/BackupToBlob.actor.cpp
  fdbserver/workloads/IncrementalBackup.actor.cpp
  fdbserver/workloads/SubmitBackup.actor.cpp
Labels: backup-restore

#4540 Log latency metrics for batch GRV requests
  documentation/sphinx/source/mr-status-json-schemas.rst.inc
  fdbclient/Schemas.cpp
  fdbserver/GrvProxyServer.actor.cpp
  fdbserver/Status.actor.cpp
Labels: operations

#4582 Add dd and maintenance
  documentation/sphinx/source/developer-guide.rst
  fdbclient/NativeAPI.actor.cpp
  fdbclient/SpecialKeySpace.actor.cpp
  fdbclient/SpecialKeySpace.actor.h
  fdbserver/workloads/SpecialKeySpaceCorrectness.actor.cpp
Labels: RFC
