Repository apple/foundationdb, pull requests merged in 2021-03, with the labels that each got.

#4450 Fix base trace event attribute name inconsistency
  fdbserver/DataDistribution.actor.cpp
  fdbserver/QuietDatabase.actor.cpp
Labels: RFC

#4354 Add advanceversion into special keys
  documentation/sphinx/source/developer-guide.rst
  fdbclient/NativeAPI.actor.cpp
  fdbclient/SpecialKeySpace.actor.cpp
  fdbclient/SpecialKeySpace.actor.h
  fdbserver/workloads/SpecialKeySpaceCorrectness.actor.cpp
Labels: RFC

#4452 Remove invalid backup status fields
  fdbbackup/backup.actor.cpp
  fdbclient/BackupAgent.actor.h
  fdbclient/FileBackupAgent.actor.cpp
Labels: backup-restore

#4520 Fix base trace event name inconsistency
  fdbserver/DataDistribution.actor.cpp
  fdbserver/QuietDatabase.actor.cpp
Labels: RFC

#4573 Updated test parser to read new option correctly
  fdbserver/tester.actor.cpp
  tests/restarting/to_6.3.10/CycleTestRestart-1.txt
  tests/restarting/to_6.3.10/CycleTestRestart-2.txt
Labels: bug

#4574 Updated test parser to read new option correctly (6.3)
  fdbserver/tester.actor.cpp
  tests/fast/MoveKeysCycle.txt
Labels: bug

#4583 Fix bug where betterMasterExist and recruitment disagree
  fdbserver/ClusterController.actor.cpp
  fdbserver/workloads/LowLatency.actor.cpp
  flow/IRandom.h
  flow/flow.cpp
Labels: bug
