Repository apple/foundationdb, pull requests merged in 2021-06, with the labels that each got.

#4883 Reduce the frequency that buggified reads are failed (release-7.0)
  fdbclient/NativeAPI.actor.cpp
Labels: build cop

#4885 Reduce the frequency that buggified reads are failed (release-6.3)
  fdbclient/NativeAPI.actor.cpp
Labels: build cop

#4882 Require a minimum of 6.2.33 for 6.2 snapshot restarting tests
  tests/CMakeLists.txt
  tests/restarting/from_6.2.33/SnapCycleRestart-1.txt
  tests/restarting/from_6.2.33/SnapCycleRestart-2.txt
  tests/restarting/from_6.2.33/SnapTestAttrition-1.txt
  tests/restarting/from_6.2.33/SnapTestAttrition-2.txt
  tests/restarting/from_6.2.33/SnapTestRestart-1.txt
  tests/restarting/from_6.2.33/SnapTestRestart-2.txt
  tests/restarting/from_6.2.33/SnapTestSimpleRestart-1.txt
  tests/restarting/from_6.2.33/SnapTestSimpleRestart-2.txt
Labels: build cop

#4886 Require a minimum of 6.2.33 for 6.2 snapshot restarting tests (release-6.3)
  tests/CMakeLists.txt
  tests/restarting/from_6.2.33/SnapCycleRestart-1.txt
  tests/restarting/from_6.2.33/SnapCycleRestart-2.txt
  tests/restarting/from_6.2.33/SnapTestAttrition-1.txt
  tests/restarting/from_6.2.33/SnapTestAttrition-2.txt
  tests/restarting/from_6.2.33/SnapTestRestart-1.txt
  tests/restarting/from_6.2.33/SnapTestRestart-2.txt
  tests/restarting/from_6.2.33/SnapTestSimpleRestart-1.txt
  tests/restarting/from_6.2.33/SnapTestSimpleRestart-2.txt
Labels: build cop

#4884 Require a minimum of 6.2.33 for 6.2 snapshot restarting tests (release-7.0)
  tests/CMakeLists.txt
  tests/restarting/from_6.2.33/SnapCycleRestart-1.txt
  tests/restarting/from_6.2.33/SnapCycleRestart-2.txt
  tests/restarting/from_6.2.33/SnapTestAttrition-1.txt
  tests/restarting/from_6.2.33/SnapTestAttrition-2.txt
  tests/restarting/from_6.2.33/SnapTestRestart-1.txt
  tests/restarting/from_6.2.33/SnapTestRestart-2.txt
  tests/restarting/from_6.2.33/SnapTestSimpleRestart-1.txt
  tests/restarting/from_6.2.33/SnapTestSimpleRestart-2.txt
Labels: build cop

#4877 Fix the place when changing dd system key without changing the lock key
  documentation/sphinx/source/developer-guide.rst
  fdbclient/SpecialKeySpace.actor.cpp
  fdbserver/workloads/SpecialKeySpaceCorrectness.actor.cpp
Labels: RFC

#4889 Actually close files in simulation (release-7.0)
  fdbrpc/AsyncFileCached.actor.cpp
  fdbrpc/AsyncFileCached.actor.h
  fdbrpc/AsyncFileNonDurable.actor.h
  fdbrpc/sim2.actor.cpp
  fdbrpc/simulator.h
  fdbserver/SimulatedCluster.actor.cpp
  flow/flow.h
  flow/genericactors.actor.h
Labels: build cop

#4894 Wait for previous txns to ack before acking current txn
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/MasterInterface.h
  fdbserver/masterserver.actor.cpp
Labels: partitioned txns

#4904 Add test coverage for fdbcli commands using a python script
  bindings/python/CMakeLists.txt
  bindings/python/tests/fdbcli_tests.py
Labels: RFC

#3404 Added VectorRef::clear
  flow/Arena.h
Labels: needs discussion

#4955 Resolvers track new teams or staled teams
  fdbserver/Resolver.actor.cpp
  fdbserver/ResolverInterface.h
  fdbserver/ptxn/TeamVersionTracker.actor.cpp
  fdbserver/ptxn/TeamVersionTracker.h
  fdbserver/ptxn/test/TestResolver.actor.cpp
Labels: partitioned txns

#4845 Refactor fdbcli commands: advanceversion, maintenance, snapshot, force_recovery_with_data_loss
  fdbcli/AdvanceVersionCommand.actor.cpp
  fdbcli/CMakeLists.txt
  fdbcli/ForceRecoveryWithDataLossCommand.actor.cpp
  fdbcli/MaintenanceCommand.actor.cpp
  fdbcli/SnapshotCommand.actor.cpp
  fdbcli/fdbcli.actor.cpp
  fdbcli/fdbcli.actor.h
Labels: RFC

#4908 Let Proxy<->TLog and TLog<->StorageServer use the same serialization code
  contrib/apply_copyright.rb
  fdbclient/FDBTypes.h
  fdbserver/CMakeLists.txt
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/LogProtocolMessage.h
  fdbserver/SpanContextMessage.h
  fdbserver/masterserver.actor.cpp
  fdbserver/ptxn/MessageSerializer.cpp
  fdbserver/ptxn/MessageSerializer.h
  fdbserver/ptxn/MessageTypes.cpp
  fdbserver/ptxn/MessageTypes.h
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.cpp
  fdbserver/ptxn/ProxyTLogPushMessageSerializer.h
  fdbserver/ptxn/Serializer.h
  fdbserver/ptxn/StorageServerInterface.h
  fdbserver/ptxn/TLogInterface.h
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/TLogPeekCursor.actor.h
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.cpp
  fdbserver/ptxn/TLogStorageServerPeekMessageSerializer.h
  fdbserver/ptxn/test/Driver.actor.cpp
  fdbserver/ptxn/test/Driver.h
  fdbserver/ptxn/test/FakeProxy.actor.cpp
  fdbserver/ptxn/test/FakeSequencer.actor.cpp
  fdbserver/ptxn/test/FakeSequencer.actor.h
  fdbserver/ptxn/test/FakeStorageServer.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.h
  fdbserver/ptxn/test/RealTLog.actor.cpp
  fdbserver/ptxn/test/RealTLog.actor.h
  fdbserver/ptxn/test/TestSerialization.cpp
  fdbserver/ptxn/test/TestTLogPeek.actor.cpp
  fdbserver/ptxn/test/Utils.cpp
  fdbserver/ptxn/test/Utils.h
  flow/String.h
  tests/ptxn/Serialization.toml
Labels: partitioned txns

#4930 Add exportLibrary for exporting external clients from jar
  bindings/java/src/main/com/apple/foundationdb/JNIUtil.java
Labels: RFC

#5020 Do not allow descriptor to change on upgrade tests
  fdbserver/workloads/ConfigureDatabase.actor.cpp
  tests/restarting/from_7.0.0/ConfigureTestRestart-1.txt
  tests/restarting/from_7.0.0/ConfigureTestRestart-2.txt
Labels: nightly correctness bugs

#5012 Modularize generateNormalConfig code to improve readability
  fdbserver/SimulatedCluster.actor.cpp
Labels: build cop

#5037 Create a separate documentation page for special keys under the api reference page
  documentation/sphinx/source/api-reference.rst
  documentation/sphinx/source/developer-guide.rst
  documentation/sphinx/source/special-keys.rst
Labels: RFC

#5041 Create a separate documentation page for special keys under api references
  documentation/sphinx/source/api-reference.rst
  documentation/sphinx/source/developer-guide.rst
  documentation/sphinx/source/special-keys.rst
Labels: RFC

#5028 Add storage team IDs and create related maps
  fdbclient/SystemData.cpp
  fdbclient/SystemData.h
  fdbserver/DataDistribution.actor.cpp
  fdbserver/MoveKeys.actor.cpp
  fdbserver/MoveKeys.actor.h
Labels: partitioned txns

#4996 Add test coverage for more fdbcli commands
  bindings/python/tests/fdbcli_tests.py
  fdbcli/MaintenanceCommand.actor.cpp
  fdbcli/fdbcli.actor.cpp
Labels: RFC
