Repository apple/foundationdb, pull requests merged in 2021-07, with the labels that each got.

#5140 Rewrite the serialization
  fdbserver/CMakeLists.txt
  fdbserver/ptxn/MessageSerializer.cpp
  fdbserver/ptxn/MessageSerializer.h
  fdbserver/ptxn/Serializer.h
  fdbserver/ptxn/TLogInterface.h
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/TLogPeekCursor.actor.h
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/test/CommitUtils.cpp
  fdbserver/ptxn/test/CommitUtils.h
  fdbserver/ptxn/test/Driver.actor.cpp
  fdbserver/ptxn/test/Driver.h
  fdbserver/ptxn/test/FakeProxy.actor.cpp
  fdbserver/ptxn/test/FakeStorageServer.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.h
  fdbserver/ptxn/test/TestSerialization.cpp
  fdbserver/ptxn/test/TestTLogPeek.actor.cpp
  fdbserver/ptxn/test/TestTLogServer.actor.cpp
  fdbserver/ptxn/test/Utils.cpp
  fdbserver/ptxn/test/Utils.h
  flow/error_definitions.h
  tests/ptxn/Serialization.toml
  tests/ptxn/TLogPeekCursor.toml
  tests/ptxn/TLogServer.toml
Labels: partitioned txns

#5150 Re-enable the test for TLog peek
  fdbserver/ptxn/MessageSerializer.cpp
  fdbserver/ptxn/MessageSerializer.h
  fdbserver/ptxn/Serializer.h
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/test/CommitUtils.cpp
  fdbserver/ptxn/test/CommitUtils.h
  fdbserver/ptxn/test/TestTLogServer.actor.cpp
  fdbserver/ptxn/test/Utils.cpp
  fdbserver/ptxn/test/Utils.h
  tests/ptxn/TLogServer.toml
Labels: partitioned txns

#5114 Features/version vector - Initial proxy changes
  fdbclient/ServerKnobs.cpp
  fdbclient/ServerKnobs.h
  fdbclient/VersionVector.h
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/LogSystem.h
  fdbserver/LogSystemConfig.h
  fdbserver/MasterInterface.h
  fdbserver/masterserver.actor.cpp
  flow/network.h
Labels: partitioned txns

#5185 Extend cmake fdbclient_test for multiple processes
  bindings/python/CMakeLists.txt
  bindings/python/tests/fdbcli_tests.py
  cmake/AddFdbTest.cmake
  tests/TestRunner/local_cluster.py
  tests/TestRunner/tmp_cluster.py
Labels: RFC

#5230 Master tells cluster controller about TLog groups
  fdbclient/ServerKnobs.cpp
  fdbclient/ServerKnobs.h
  fdbserver/ClusterController.actor.cpp
  fdbserver/LogSystem.h
  fdbserver/LogSystemConfig.h
  fdbserver/MockLogSystem.cpp
  fdbserver/MockLogSystem.h
  fdbserver/TagPartitionedLogSystem.actor.cpp
  fdbserver/masterserver.actor.cpp
  fdbserver/ptxn/test/TestTLogServer.actor.cpp
Labels: partitioned txns

#5059 Assign Storage Teams to TLogGroup
  fdbclient/SystemData.cpp
  fdbclient/SystemData.h
  fdbserver/ApplyMetadataMutation.cpp
  fdbserver/ApplyMetadataMutation.h
  fdbserver/MoveKeys.actor.cpp
  fdbserver/ProxyCommitData.actor.h
  fdbserver/TLogGroup.actor.cpp
  fdbserver/TLogGroup.actor.h
  fdbserver/masterserver.actor.cpp
Labels: partitioned txns

#5216 Make resolver to track version by tlog group
  fdbclient/FDBTypes.cpp
  fdbclient/FDBTypes.h
  fdbclient/ServerKnobs.h
  fdbclient/StorageServerInterface.h
  fdbserver/CMakeLists.txt
  fdbserver/ClusterController.actor.cpp
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/LogSystem.h
  fdbserver/LogSystemConfig.h
  fdbserver/MockLogSystem.cpp
  fdbserver/MockLogSystem.h
  fdbserver/ProxyCommitData.actor.h
  fdbserver/Resolver.actor.cpp
  fdbserver/ResolverInterface.h
  fdbserver/TagPartitionedLogSystem.actor.cpp
  fdbserver/masterserver.actor.cpp
  fdbserver/ptxn/MessageSerializer.h
  fdbserver/ptxn/TLogGroupVersionTracker.actor.cpp
  fdbserver/ptxn/TLogGroupVersionTracker.h
  fdbserver/ptxn/TLogInterface.h
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/test/TestResolver.actor.cpp
  fdbserver/ptxn/test/TestTLogServer.actor.cpp
Labels: partitioned txns

#5294 Disable DD for demo
  fdbserver/DataDistribution.actor.cpp
Labels: partitioned txns

#5273 Integrating proxy, resolver, tlog and storage server with protection of TLOG_NEW_INTERFACE knob.
  fdbclient/FDBTypes.cpp
  fdbserver/ClusterController.actor.cpp
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/LogSystem.h
  fdbserver/LogSystemConfig.h
  fdbserver/MockLogSystem.cpp
  fdbserver/MockLogSystem.h
  fdbserver/ProxyCommitData.actor.h
  fdbserver/TLogGroup.actor.cpp
  fdbserver/TagPartitionedLogSystem.actor.cpp
  fdbserver/masterserver.actor.cpp
  fdbserver/ptxn/MessageSerializer.cpp
  fdbserver/ptxn/MessageSerializer.h
  fdbserver/ptxn/TLogInterface.h
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/TLogPeekCursor.actor.h
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/ptxn/test/CommitUtils.cpp
  fdbserver/ptxn/test/CommitUtils.h
  fdbserver/ptxn/test/Driver.actor.cpp
  fdbserver/ptxn/test/Driver.h
  fdbserver/ptxn/test/FakeProxy.actor.cpp
  fdbserver/ptxn/test/FakeTLog.actor.cpp
  fdbserver/ptxn/test/TestSerialization.cpp
  fdbserver/ptxn/test/TestTLogPeek.actor.cpp
  fdbserver/ptxn/test/TestTLogServer.actor.cpp
  fdbserver/ptxn/test/Utils.cpp
  flow/genericactors.actor.h
Labels: partitioned txns

#5285 Refactor throttle command
  bindings/python/tests/fdbcli_tests.py
  fdbcli/CMakeLists.txt
  fdbcli/ThrottleCommand.actor.cpp
  fdbcli/fdbcli.actor.cpp
  fdbcli/fdbcli.actor.h
  flow/ThreadHelper.actor.h
Labels: RFC

#5304 Initialize storage servers with team IDs when DB boots the first time
  fdbrpc/sim2.actor.cpp
  fdbserver/MoveKeys.actor.cpp
  fdbserver/MoveKeys.actor.h
  fdbserver/SimulatedCluster.actor.cpp
  fdbserver/TLogGroup.actor.cpp
  fdbserver/TLogGroup.actor.h
  fdbserver/fdbserver.actor.cpp
  fdbserver/masterserver.actor.cpp
  fdbserver/workloads/MachineAttrition.actor.cpp
  flow/FaultInjection.cpp
  flow/FaultInjection.h
Labels: partitioned txns

#5281 TLogGroup: Use new ptxn::TLogInterface not old TLogInterface
  fdbclient/SystemData.h
  fdbserver/ApplyMetadataMutation.cpp
  fdbserver/LogSystem.h
  fdbserver/LogSystemConfig.h
  fdbserver/ProxyCommitData.actor.h
  fdbserver/TLogGroup.actor.cpp
  fdbserver/TLogGroup.actor.h
  fdbserver/TagPartitionedLogSystem.actor.cpp
  fdbserver/masterserver.actor.cpp
  fdbserver/ptxn/TLogInterface.h
Labels: partitioned txns

#5306 Support adding empty transactions in resolver & proxy to move version forward for each tlog group
  fdbclient/ServerKnobs.cpp
  fdbclient/ServerKnobs.h
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/DataDistribution.actor.cpp
  fdbserver/TLogGroup.actor.cpp
  fdbserver/ptxn/TLogGroupVersionTracker.actor.cpp
Labels: partitioned txns

#5316 Bug fixes in IAsyncEncryptedFile
  fdbclient/BackupContainerFileSystem.actor.cpp
  fdbrpc/AsyncFileEncrypted.actor.cpp
  fdbrpc/AsyncFileEncrypted.h
Labels: nightly correctness bugs
