Repository apple/foundationdb, pull requests merged in 2022-11, with the labels that each got.

#8653 Fix assertion failure due to empty rwImpls in SpecialKeySpaceCorrectness workload
  fdbserver/workloads/SpecialKeySpaceCorrectness.actor.cpp
Labels: nightly correctness bugs

#8688 Fix valgrind error in TransactionCost test
  fdbserver/workloads/TransactionCost.actor.cpp
Labels: nightly correctness bugs, build cop

#8672 Fix: the simulator was making a configuration change during a quiescent database check
  fdbrpc/include/fdbrpc/simulator.h
  fdbserver/ConsistencyScan.actor.cpp
  fdbserver/QuietDatabase.actor.cpp
  fdbserver/workloads/ConsistencyCheck.actor.cpp
Labels: build cop
