Repository apple/foundationdb, pull requests merged in 2022-04, with the labels that each got.

#6769 Address 3 issues in PTXN
  fdbserver/ApplyMetadataMutation.cpp
  fdbserver/ClusterController.actor.cpp
  fdbserver/MoveKeys.actor.cpp
  fdbserver/masterserver.actor.cpp
Labels: partitioned txns

#6772 Fix bug about updating storageServerToTeamIdKey
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/Resolver.actor.cpp
Labels: partitioned txns

#6788 Remove duplicate decodeKeyServersValue call in resolver
  fdbserver/Resolver.actor.cpp
Labels: partitioned txns

#6775 Various fixes in ptxn
  fdbserver/TLogGroup.actor.cpp
  fdbserver/ptxn/TLogServer.actor.cpp
  fdbserver/worker.actor.cpp
Labels: partitioned txns

#6801 Fix TLogPeek duplicate versions read from disk
  fdbserver/ptxn/TLogServer.actor.cpp
Labels: partitioned txns

#6835 Use a storageTeamCursor wide arena to hold the data
  fdbserver/ptxn/TLogPeekCursor.actor.cpp
  fdbserver/ptxn/TLogPeekCursor.actor.h
Labels: partitioned txns

#6836 Change how SS tracks private team ID
  fdbserver/storageserver.actor.cpp
Labels: partitioned txns

#6833 Do not initialize unused TLogs
  fdbserver/TagPartitionedLogSystem.actor.cpp
Labels: partitioned txns

#6902 Revert "Update 'salt' details for EncryptHeader AuthToken details (#6…
  fdbserver/workloads/EncryptionOps.actor.cpp
  flow/BlobCipher.cpp
  flow/BlobCipher.h
Labels: nightly correctness bugs, build cop

#6924 Address seg fault in "storageRecruiter" actor
  fdbserver/DDTeamCollection.actor.cpp
  fdbserver/DDTeamCollection.h
Labels: bug
