Repository apple/foundationdb, pull requests merged in 2022-08, with the labels that each got.

#7431 Let the storage server reports busiest write tag
  fdbclient/include/fdbclient/StorageServerInterface.h
  fdbserver/Ratekeeper.actor.cpp
  fdbserver/Status.actor.cpp
  fdbserver/include/fdbserver/Ratekeeper.h
  fdbserver/include/fdbserver/RatekeeperInterface.h
  fdbserver/storageserver.actor.cpp
  flow/TLSTest.cpp
  flow/include/flow/OwningResource.h
Labels: operations

#7910 Initialize clientcount in opendatabaserequest
  fdbclient/include/fdbclient/ClusterInterface.h
Labels: nightly correctness bugs, build cop

#7953 Support HA in loopback cluster test script
  tests/loopback_cluster/run_custom_cluster.sh
Labels: testing

#7765 Set knobs using environment variables when running Joshua
  contrib/TestHarness/Program.cs
  fdbserver/fdbserver.actor.cpp
  flow/Platform.actor.cpp
  flow/include/flow/Platform.h
Labels: testing
