Repository apple/foundationdb, pull requests merged in 2022-10, with the labels that each got.

#8340 Parameterize eager deletion of files in /tmp on fdb_c client library
  fdbclient/ClientKnobs.cpp
  fdbclient/MultiVersionTransaction.actor.cpp
  fdbclient/include/fdbclient/ClientKnobs.h
Labels: diagnostics

#6856 Make FlowReceiver NonCopyable
  fdbrpc/include/fdbrpc/FlowTransport.h
  fdbrpc/include/fdbrpc/fdbrpc.h
Labels: needs discussion

#8598 Fix restarting restore test failure
  fdbclient/FileBackupAgent.actor.cpp
Labels: nightly correctness bugs

#8597 Fix restarting restore test failure
  fdbclient/FileBackupAgent.actor.cpp
Labels: nightly correctness bugs
