Repository apple/foundationdb, pull requests merged in 2023-08, with the labels that each got.

#10736 Fix the go tuple tests for new go version
  bindings/go/src/fdb/tuple/tuple_test.go
Labels: bug

#10749 Fix the go tuple tests for new go version
  bindings/go/src/fdb/tuple/tuple_test.go
Labels: snowflake-71.3-approved

#10594 fix worker server reporting IoTimeoutError as injected fault (Cherry-pick #10589 to snowflake/release-71.3)
  fdbserver/SimulatedCluster.actor.cpp
  fdbserver/include/fdbserver/WorkerInterface.actor.h
Labels: snowflake-71.3-approved

#10679 [snowflake/release-71.3] Reduce the frequency of polling tenants' storage usage
  fdbclient/ServerKnobs.cpp
Labels: snowflake-71.3-approved

#10585 Show manifest dump info in status json even when no flushing (Cherry-Pick #10584 to snowflake/release-71.3)
  fdbserver/BlobManager.actor.cpp
  fdbserver/Status.actor.cpp
Labels: snowflake-71.3-approved

#10617 Find next full keys for split points (Cherry-Pick #10616 to snowflake/release-71.3)
  fdbserver/BlobManager.actor.cpp
Labels: snowflake-71.3-approved

#10591 Support upgrades to future versions of Blob Granule API
  bindings/c/CMakeLists.txt
  bindings/c/fdb_c.cpp
  bindings/c/foundationdb/ClientWorkload.h
  bindings/c/foundationdb/fdb_c.h
  bindings/c/foundationdb/fdb_c_internal.h
  bindings/c/foundationdb/fdb_c_requests.h
  bindings/c/foundationdb/fdb_c_types.h
  bindings/c/test/apitester/TesterBlobGranuleCorrectnessWorkload.cpp
  bindings/c/test/apitester/TesterBlobGranuleErrorsWorkload.cpp
  bindings/c/test/apitester/TesterUtil.cpp
  bindings/c/test/apitester/TesterUtil.h
  bindings/c/test/fdb_api.hpp
  bindings/c/test/mako/operations.cpp
  fdbclient/ApiRequest.cpp
  fdbclient/ApiRequestHandler.cpp
  fdbclient/BlobGranuleApiImpl.actor.cpp
  fdbclient/BlobGranuleCommon.cpp
  fdbclient/BlobGranuleFiles.cpp
  fdbclient/CMakeLists.txt
  fdbclient/MultiVersionTransaction.actor.cpp
  fdbclient/ThreadSafeTransaction.cpp
  fdbclient/include/fdbclient/ApiRequest.h
  fdbclient/include/fdbclient/ApiRequestHandler.h
  fdbclient/include/fdbclient/BlobGranuleApiImpl.h
  fdbclient/include/fdbclient/BlobGranuleCommon.h
  fdbclient/include/fdbclient/BlobGranuleFiles.h
  fdbclient/include/fdbclient/IClientApi.h
  fdbclient/include/fdbclient/MultiVersionTransaction.h
  fdbclient/include/fdbclient/ThreadSafeTransaction.h
  flow/ApiVersion.h.cmake
  flow/ApiVersions.cmake
  flow/include/flow/Arena.h
  flow/include/flow/ThreadHelper.actor.h
  flow/include/flow/error_definitions.h
Labels: snowflake-71.3-approved

#10760 [snowflake/release-71.3] Stagger storage quota estimation requests and observability improvements
  fdbclient/ServerKnobs.cpp
  fdbserver/TenantCache.actor.cpp
Labels: snowflake-71.3-approved

#10726 (snowflake/release-71.3) Monitor multiple write tags in `StorageQueueInfo::refreshCommitCost`
  fdbserver/Ratekeeper.actor.cpp
Labels: snowflake-71.3-approved

#10713 Fix tss kill logic: only disable Tss check when zeroHealthyTeams=false (cherry-pick to snowflake/release-71.3)
  fdbserver/DDTeamCollection.actor.cpp
Labels: snowflake-71.3-approved

#10738 More bm observability 713
  fdbclient/BlobCipher.cpp
  fdbclient/NativeAPI.actor.cpp
  fdbclient/include/fdbclient/BlobCipher.h
  fdbclient/include/fdbclient/BlobWorkerCommon.h
  fdbclient/include/fdbclient/GetEncryptCipherKeys_impl.actor.h
  fdbserver/BlobGranuleServerCommon.actor.cpp
  fdbserver/BlobManager.actor.cpp
  fdbserver/BlobWorker.actor.cpp
  fdbserver/EncryptKeyProxy.actor.cpp
  fdbserver/RESTKmsConnector.actor.cpp
  fdbserver/include/fdbserver/BlobGranuleServerCommon.actor.h
  fdbserver/storageserver.actor.cpp
  flow/include/flow/genericactors.actor.h
Labels: snowflake-71.3-approved

#10731 reduce change feed desired version empty checks to skip at most 1M ve… (Cherry-Pick #10730 to snowflake/release-71.3)
  fdbclient/ClientKnobs.cpp
  fdbclient/NativeAPI.actor.cpp
  fdbclient/include/fdbclient/ClientKnobs.h
Labels: snowflake-71.3-approved

#10734 EaR: Fix connection pool handling on invalid connections
  fdbclient/RESTClient.actor.cpp
  fdbclient/RESTUtils.actor.cpp
  fdbclient/include/fdbclient/RESTUtils.h
Labels: snowflake-71.3-approved

#10776 encryptionAtRestMode needs to be in the system keyspace
  fdbserver/BlobWorker.actor.cpp
Labels: snowflake-71.3-approved

#10622 blob restore : Log and skip data copy if we miss data for a tenant (Cherry-Pick #10621 to snowflake/release-71.3)
  fdbclient/ServerKnobs.cpp
  fdbclient/include/fdbclient/ServerKnobs.h
  fdbserver/BlobManager.actor.cpp
  fdbserver/BlobMigrator.actor.cpp
  fdbserver/storageserver.actor.cpp
  fdbserver/workloads/BlobRestoreWorkload.actor.cpp
  tests/fast/BlobRestoreBasic.toml
  tests/fast/BlobRestoreLarge.toml
  tests/fast/BlobRestoreToVersion.toml
Labels: snowflake-71.3-approved

#10635 Stop tracking a storage server after its removal (Cherry-Pick #10630 to snowflake/release-71.3)
  fdbserver/DDTeamCollection.actor.cpp
Labels: snowflake-71.3-approved

#10788 Prevent Status actor from bubbling up timeout error
  fdbserver/Status.actor.cpp
Labels: snowflake-71.3-approved

#10794 fixed split downsampling to happen as part of split range and to corr…
  fdbserver/BlobManager.actor.cpp
Labels: snowflake-71.3-approved

#10737 Update C documentation of installed files and locations
  documentation/sphinx/source/api-c.rst
Labels: documentation

#10814 Release notes - snowflake 71.3.4
  documentation/sphinx/source/release-notes/release-notes-7134.rst
Labels: snowflake-71.3-approved

#10664 FDBCORE-5124 Fix the DataLossRecovery workload stuck issue detected in correctness test
  fdbserver/workloads/DataLossRecovery.actor.cpp
Labels: snowflake-71.3-approved

#10808 FDBCORE-5950: Ensure exponential backoff while refreshing KMS URLs for a request
  fdbclient/ServerKnobs.cpp
  fdbclient/include/fdbclient/ServerKnobs.h
  fdbserver/RESTKmsConnector.actor.cpp
Labels: snowflake-71.3-approved

#10792 Wait file deleted in blob manifest cleanup
  fdbserver/BlobManifest.actor.cpp
Labels: snowflake-71.3-approved

#10803 enabling median assignment limiting
  fdbclient/ServerKnobs.cpp
  fdbclient/include/fdbclient/ServerKnobs.h
  fdbserver/BlobManager.actor.cpp
Labels: snowflake-71.3-approved

#10830 Add trace details about over-replicated shard and range count (snowflake/release-71.3)
  fdbserver/DDShardTracker.actor.cpp
  fdbserver/DDTeamCollection.actor.cpp
  fdbserver/DataDistribution.actor.cpp
  fdbserver/include/fdbserver/DDShardTracker.h
  fdbserver/include/fdbserver/DDTeamCollection.h
Labels: snowflake-71.3-approved

#10832 EaR: Handle KMS timeout in storage server and commit proxy (#10831)
  fdbclient/ClientKnobs.cpp
  fdbclient/ServerKnobs.cpp
  fdbclient/include/fdbclient/ClientKnobs.h
  fdbclient/include/fdbclient/GetEncryptCipherKeys.h
  fdbclient/include/fdbclient/GetEncryptCipherKeys_impl.actor.h
  fdbclient/include/fdbclient/ServerKnobs.h
  fdbserver/CommitProxyServer.actor.cpp
  fdbserver/IKeyValueStore.cpp
  fdbserver/VersionedBTree.actor.cpp
  fdbserver/include/fdbserver/IKeyValueStore.h
  fdbserver/include/fdbserver/IPageEncryptionKeyProvider.actor.h
  fdbserver/include/fdbserver/ProxyCommitData.actor.h
  fdbserver/include/fdbserver/WorkerInterface.actor.h
  fdbserver/storageserver.actor.cpp
  fdbserver/worker.actor.cpp
  flow/Knobs.cpp
  flow/genericactors.actor.cpp
  flow/include/flow/genericactors.actor.h
Labels: snowflake-71.3-approved

#10824 FDBCORE-6014: Update KMS Health Check timeouts
  flow/Knobs.cpp
Labels: snowflake-71.3-approved

#10804 adding timeout
  fdbclient/ServerKnobs.cpp
  fdbclient/include/fdbclient/ServerKnobs.h
  fdbserver/BlobManager.actor.cpp
Labels: snowflake-71.3-approved

#10797 Catch initial flush error and avoid crashing blob manager
  fdbserver/BlobManager.actor.cpp
Labels: snowflake-71.3-approved

#10789 Additional BM purge stats, and reducing memory overhead, slow tasks, …
  fdbclient/ServerKnobs.cpp
  fdbclient/include/fdbclient/ServerKnobs.h
  fdbserver/BlobManager.actor.cpp
Labels: snowflake-71.3-approved
