Repository apple/foundationdb, pull requests merged in 2025-02, with the labels that each got.

#11933 Fix startMoveShards() caused corruption
  fdbserver/MoveKeys.actor.cpp
Labels: nightly correctness bugs

#11904 Refactor backup mutation serialization
  fdbclient/CommitProxyInterface.cpp
  fdbclient/FileBackupAgent.actor.cpp
  fdbclient/include/fdbclient/CommitProxyInterface.h
  fdbserver/CommitProxyServer.actor.cpp
Labels: backup-restore

#11908 Handle cases when backup worker pulling may miss mutations
  fdbclient/SystemData.cpp
  fdbclient/include/fdbclient/SystemData.h
  fdbserver/BackupWorker.actor.cpp
  fdbserver/ClusterRecovery.actor.cpp
  fdbserver/QuietDatabase.actor.cpp
  fdbserver/tester.actor.cpp
Labels: backup-restore

#11952 Enable BulkLoad Job to Give Up Unretrievable Task and Fix DDStuck Bug
  fdbclient/ManagementAPI.actor.cpp
  fdbclient/include/fdbclient/BulkLoading.h
  fdbserver/DDRelocationQueue.actor.cpp
  fdbserver/DDShardTracker.actor.cpp
  fdbserver/DataDistribution.actor.cpp
  fdbserver/include/fdbserver/DataDistribution.actor.h
  fdbserver/workloads/BulkDumping.actor.cpp
  fdbserver/workloads/BulkLoading.actor.cpp
  flow/include/flow/error_definitions.h
  tests/fast/BulkDumping.toml
  tests/fast/BulkLoading.toml
Labels: bulk-loading
