Repository apple/foundationdb, pull requests merged in 2025-01, with the labels that each got.

#11825 Documentation says backup blob URL can optionally contain key/secret/token
  documentation/sphinx/source/backups.rst
  fdbclient/S3Client_cli.actor.cpp
Labels: documentation, backup-restore

#11886 Bulkload FDBCLI Command
  fdbcli/BulkDumpCommand.actor.cpp
  fdbcli/BulkLoadCommand.actor.cpp
  fdbcli/fdbcli.actor.cpp
  fdbcli/include/fdbcli/fdbcli.actor.h
  fdbclient/BulkDumping.cpp
  fdbclient/ManagementAPI.actor.cpp
  fdbclient/include/fdbclient/BulkDumping.h
  fdbclient/include/fdbclient/ManagementAPI.actor.h
Labels: backup-restore

#11864 Have ctests use s3 if it is available.
  contrib/SimpleOpt/include/SimpleOpt/SimpleOpt.h
  fdbbackup/tests/s3_backup_test.sh
  fdbclient/ClientKnobs.cpp
  fdbclient/S3BlobStore.actor.cpp
  fdbclient/S3Client.actor.cpp
  fdbclient/S3Client_cli.actor.cpp
  fdbclient/include/fdbclient/ClientKnobs.h
  fdbclient/include/fdbclient/S3BlobStore.h
  fdbclient/include/fdbclient/S3Client.actor.h
  fdbclient/tests/aws_fixture.sh
  fdbclient/tests/bulkload_test.sh
  fdbclient/tests/fdb_cluster_fixture.sh
  fdbclient/tests/s3client_test.sh
  fdbclient/tests/seaweedfs_fixture.sh
  fdbclient/tests/tests_common.sh
Labels: backup-restore

#11627 Go binding: add GetClientStatus method to Database
  bindings/go/src/fdb/database.go
  bindings/go/src/fdb/fdb_test.go
  documentation/sphinx/source/api-c.rst
Labels: bindings
